parameters:
    level: 1
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    excludePaths:
        - src/Laravel/Console/TelegramLongPollingCommand.php
        - src/LaravelServiceProvider.php

